{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <a href="{{ path('app_home') }}">vers ma page home</a>
    <a href="{{ path('app_logout') }}">deconnexion</a>
{% endblock %}
